

body {
    display: flex;
    flex-direction: column;
    flex: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

.topul {
    gap: 24px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 28px;
    font-size: 16px;
    border: none;
}

a,
.herotext,
footer {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

header {
    background-color: #1f2937;
    height: 350px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 60px;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.topheader {
    display:flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 270px;
}

.bottomheader {
    display:flex;
    justify-content: space-around;
    gap: 0px;
    
}
.awesomebox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 400px;
}

.main1head {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main1 {
 display: flex;
 flex-flow: column wrap;
 align-items: center;
 margin-bottom: 90px;
}

.main1 ul {
    gap: 65px;
}

.main1text {
    width: 150px;
    flex-wrap: wrap;
    color: grey;
    text-align: center;
}

.main2 {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: light;
    color: #1F2938;
    font-style: italic;
    width: 750px;
    margin-bottom: 0;
    margin-top: 65px;
}

.quotee {
    display: flex;
    font-weight: bold;
    margin-left: 430px;
    margin-top: 0;
    margin-bottom: 65px;
}

.bluebox {
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color: #3882f6;
    width: 900px;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 70px;
    margin-top: 70px;
}

.boxtext {
    display: flex;
    flex-flow: column;
    align-self: center;
}

.calltoaction {
    font-weight: bolder;
    font-size: 24px;
    color: #e5e7eb;
}

.bluebox button {
    border: 2px solid white;
    height: 35px;
    justify-content: center;
    align-self: center;
}