
ul {
    list-style-type: none;
    display: flex;
}

.topul {
    gap: 24px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 28px;
    font-size: 16px;
    border: none;
}

a,
.herotext,
footer {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

header {
    background-color: #1f2937;
    height: 350px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 60px;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.topheader {
    display:flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.bottomheader {
    display:flex;
    justify-content: center;
    gap: 700px;
    
}
.awesomebox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 400px;
}

.main1head {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main1 {
 display: flex;
 flex-flow: column wrap;
 align-items: center;
 margin-bottom: 90px;
}

.main1 ul {
    gap: 65px;
}

.main1text {
    width: 150px;
    flex-wrap: wrap;
    color: grey;
    text-align: center;
}

.main2 {
    background-color: grey;
}